@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
$mainColor: #333;
@mixin btn {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 37px;
  background: transparent linear-gradient(90deg, #FA41CC 0%, #6020B0 100%) 0% 0% no-repeat;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #00000029;
  width: 155px;
  height: 37px;
  font-size: 0.875rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: $mainColor;
  padding-top: 95px;
}
.container {
  max-width: 1022px;
  width: 100%;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 95px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 5;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 20px;
    h1 {
      a {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 16px;
      }
    }
    nav {
      ul {
        display: flex;
        gap: 22px;
        font-weight: bold;
        li {
          a {
            text-decoration: none;
            color: $mainColor;
            padding: 12px 12px;
            position: relative;
          }
          a::after {
            content: "";
            display: inline-block;
            width: 100%;
            height: 5px;
            position: absolute;
            bottom: 4px;
            right: 0;
            background: linear-gradient(90deg, #FA41CC 0%, #6020B0 100%);
            transform-origin: right;
            transform: scaleX(0);
            transition: .3s;
          }
          a:hover::after {
            transform: scaleX(1);
          }
        }
      }
      .burger {
        display: none;
      }
    }
    p a {
      @include btn;
    }
  }
}
.fv {
  width: 100%;
  height: 674px;
  position: relative;
  background: transparent url('../img/circle1.png') top -95px right 15% no-repeat;
  .container {
    display: flex;
    justify-content: space-between;
    padding: 130px 0 0;
    .text {
      padding: 30px 0 0;
      display: flex;
      flex-direction: column;
      gap: 45px;
      h2 {
        font-size: 2rem;
        line-height: 2.875rem;
      }
      p {
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.5rem;
      }
      p a {
        @include btn;
      }
    }
  }
}
main {
  .subtitle {
    text-align: center;
    h3 {
      font-size: 2rem;
      line-height: 2.875rem;
      margin-bottom: 10px;
    }
    p {
      font-weight: bold;
      line-height: 1.5rem;
      color: #3BA6C9;
    }
  }
  #features {
    padding: 70px 0 0;
    .subtitle {
      p {
        margin-bottom: 57px;
      }
    }
    article {
      margin-bottom: 135px;
      h4 {
        font-size: 1.75rem;
        font-weight: bold;
        line-height: 2.5rem;
        text-align: center;
        margin-bottom: 60px;
      }
      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .text {
          display: inline-block;
          h5 {
            font-size: 1.5rem;
            font-weight: bold;
            line-height: 3rem;
            margin-bottom: 54px;
           
          }
          p {
            font-weight: bold;
            line-height: 1.625rem;
          }
        }
      }
    }
    article:nth-of-type(even) .container {
      flex-direction: row-reverse;
    }
    article:nth-of-type(3) .container .text {
      padding-right: 45px;
    }
  }
  #price {
    background-color: #EEFBFB;
    padding: 55px 0 68px;
    .container {
      padding: 70px 0 0px;
      table {
        margin: 0 auto;
        width: 926px;
        height: 410px;
        background: #FFFFFF;
        box-shadow: 0px 3px 6px #00000029;
        margin-bottom: 36px;
        th {
          line-height: 1.75rem;
          width: 290px;
          padding-left: 19px;
        }
        td {
          font-weight: bold;
          padding-left: 32px;
        }
      }
      table, th, td {
        border: 1px solid #E5E5E5;
        text-align: left;
        vertical-align: middle;
      }
      p {
        text-align: center;
        font-weight: bold;
        line-height: 1.625rem;
      }
    }
  }
  #faq {
    padding: 55px 0 86px;
    .subtitle {
      p {
        margin-bottom: 32px;
      }
    }
    .container{
      width: 907px;
      margin: 0 auto;
      dl {
        dt {
          height: 58px;
          text-align: center;
          line-height: 58px;
          cursor: pointer;
        }
        dd {
          display: none;
          padding: 25px 87px 25px 37px;
          background-color: #F2F2F2;
        }
      }
    }
    dt, dd {
      border: 1px solid #E5E5E5;
      font-size: 0.875rem;
      font-weight: bold;
    }
  }
  #blog {
    padding: 55px 0 90px;
    background-color: #EEFBFB;
    .subtitle {
      p {
        margin-bottom: 54px;
      }
    }
    .container {
      max-width: 1300px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
      .box {
        width: 389px;
        box-shadow: 0px 3px 6px #00000029;
        .text {
          background-color: #fff;
          padding: 14px 30px 0 18px;
          height: 127px;
          position: relative;
          p {
            font-size: 1.125rem;
            font-weight: bold;
            line-height: 1.625rem;
          }
          time {
            line-height: 1.625rem;
            font-weight: bold;
            position: absolute;
            bottom: 10px;
            right: 32px;
          }
        }
      }
    }
  }
  #works {
    padding: 55px 0 90px;
    .subtitle {
      p {
        margin-bottom: 68px;
      }
    }
    .swiper-container {
      width: 100%;
    }
    .container {
      .box {
        img {
          vertical-align: bottom;
        }
        .text {
          width: 322px;
          border: 1px solid #ddd;
          border-top: none;
          border-radius: 0 0 8px 8px;
          padding: 18px 18px 40px;
          p {
            line-height: 1.5rem;
            font-weight: bold;
            margin-bottom: 30px;
          }
          dl {
            font-size: 0.875rem;
            font-weight: bold;
            line-height: 1.25rem;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            dt {
              width: 25%;
            }
            dt:nth-of-type(3) {
              width: 35%;
            }
            dt::after {
              content: " : ";
            }
            dd {
              width: 75%;
            }
            dd:nth-of-type(3) {
              width: 65%;
            }
          }
        }
      }
    }
  }
  #contact {
    padding: 63px 0 70px;
    background: transparent linear-gradient(90deg, #05A5FA 0%, #63FBD7 100%, #67FFD6 100%) 0% 0% no-repeat padding-box;
    .subtitle {
      color: #fff;
      p {
        color: #fff;
      }
      p + p {
        margin: 36px 0 44px;
      }
    }
    .container {
      max-width: 908px;
      width: 100%;
      padding: 30px 62px 35px;
      background-color: #fff;
      form {
        dl {
          dt {
            font-weight: bold;
            line-height: 1.625rem;
            margin-bottom: 39px;
          }
          dt::after {
            content: "必須";
            font-size: 0.875rem;
            font-weight: bold;
            color: #fff;
            background-color: #0C449B;
            border-radius: 10px;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            width: 60px;
            height: 30px;
            margin-left: 23px;
          }
          dd input, dd textarea {
            background-color: #EEFBFB;
            border: none;
          }
          dd input[type=text], dd input[type=mail] {
            max-width: 500px;
            width: 100%;
            height: 43px;
            padding-left: 20px;
            margin-bottom: 25px;
          }
          dd textarea {
            width: 100%;
            height: 180px;
            font-size: 1rem;
            padding: 10px 20px;
            margin-bottom: 27px;
          }
        }
        .check {
          text-align: center;
          input[type=checkbox] {
            border-radius: 0;
            width: 20px;
            height: 20px;
          }
          label {
            font-weight: bold;
            line-height: 1.75rem;
          }
          p input {
            @include btn;
            margin: 30px auto 0;
          }
        }
      }
    }
  }
}
footer {
  height: 244px;
  background-color: #F8F8F8;
  text-align: center;
  padding: 43px 0 50px;
  .container {
    h1 {
      margin-bottom: 21px;
      a {
        font-size: 1.5rem;
        text-decoration: none;
        color: $mainColor;
      }
    }
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 30px;
      margin-bottom: 52px;
      a {
        font-weight: bold;
        text-decoration: none;
        color: $mainColor;
        line-height: 1.75rem;
      }
    }
    small {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }
}



@media screen and (max-width: 1024px) {
  .fv {
    background: transparent url(../img/circle1.png) top -95px right -25% no-repeat;
    .container {
    padding: 130px 10px 0;
    }
  }
  main {
    #features article {
      padding: 0 10px;
    }
    #price .container table {
      width: calc(100% - 20px);
    }
    #faq .container {
      width: calc(100% - 20px);
    }
    #works .swiper-container {
      overflow: hidden;
      max-width: calc(322 * 1.8px);
    }
  }
}



@media screen and (max-width: 900px) {
  .fv {
    height: auto;
    background: transparent url(../img/circle1.png) center no-repeat;
    .container {
      flex-direction: column-reverse;
      padding: 30px 10px 0;
      .text {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0px;
        h2 {
          width: calc(60% - 10px);
          padding-left: 7%;
        }
        p:nth-of-type(1) {
          width: calc(40% - 10px);
          padding-top: 20px;
        }
        p:nth-of-type(2) {
          margin: 0 auto;
          padding: 15px 0 30px;
        }
      }
    }
    figure {
      text-align: center;
    }
  }
  main {
    #features {
      article {
        margin-bottom: 90px;
        .container {
          flex-direction: column;
          align-items: center;
          figure {
            margin-bottom: 20px;
          }
          .text {
            h5 {
              margin-bottom: 30px;
            }
          }
        }
      }
      article:nth-of-type(even) .container {
        flex-direction: column;
      }
    }
  }
}



@media screen and (max-width: 768px) {
  header {
    height: 70px;
    display: flex;
    align-items: center;
    .container {
      position: relative;
      padding: 0 10px;
      height: 70px;
      h1 a {
        font-size: 1.3rem;
      }
      nav {
        ul {
          display: none;
          width: 155px;
          flex-direction: column;
          gap: 40px;
          position: absolute;
          top: 68px;
          right: 10px;
          background-color: #fff;
          padding: 30px 10px 20px;
          box-shadow: #9c9b9b60 5px 10px 3px;
        }
        ul.slide-out {
          display: flex;
          transform: scaleY(1);
          transform-origin: top;
          opacity: 1;
          animation: slide-out 0.4s 0s linear alternate forwards;
        }
        @keyframes slide-out {
          from {
            opacity: 1;
            transform: scaleY(1);
          }
          to {
            opacity: 0;
            transform: scaleY(0);
          }
        }
        ul.slide-menu {
          display: flex;
          opacity: 0;
          transform: scaleY(0);
          transform-origin: top;
          animation: slide 0.4s 0.3s linear alternate forwards;
        }
        @keyframes slide {
          from {
            opacity: 0;
            transform: scaleY(0);
          }
          to {
            opacity: 1;
            transform: scaleY(1);
          }
        }
        .burger {
          position: absolute;
          right: 30px;
          top: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          font-size: 0.8rem;
          font-weight: bold;
          width: 55px;
          height: 37px;
          span {
            position: relative;
          }
          span::after {
            content: "";
            display: inline-block;
            width: 12px;
            height: 10px;
            background-color: $mainColor;
            clip-path: polygon(0 0, 50% 100%, 100% 0%);
            position: absolute;
            right: -15px;
            top: 50%;
            transform: translateY(-50%);
            transition: 0.4s;
          }
        }
        .burger.slide-menu span::after {
          transform: rotate(180deg) translateY(5px);
        }
      }
      .contact {
        display: none;
      }
    }
  }
  .fv {
    img{
      max-width: 518px;
      width: 100%;
    }
    .container {
      .text {
        display: block;
        h2 {
          width: 100%;
          padding: 0 0 0 20px;
          font-size: 1.8rem;
        }
        p:nth-of-type(1) {
          width: 80%;
          padding: 0;
          margin: 0 auto;
        }
        p:nth-of-type(2) {
          width: 155px;
        }
      }
    }
  }
  main {
    .subtitle {
      h3 {
        font-size: 1.7rem;
      }
    }
    #features {
      .subtitle {
        p {
          margin-bottom: 35px;
        }
      }
      article {
        margin-bottom: 60px;
        h4 {
          font-size: 1.6rem;
          margin-bottom: 40px;
        }
        .container {
          .text {
            padding: 0;
            padding-right: 0;
            h5 {
              font-size: 1.3rem;
              line-height: 2.3rem;
            }
          }
        }
        
      }
      article:nth-of-type(3) .container .text {
        padding-right: 0;
      }
      article:nth-of-type(1) img {
        max-width: 380px;
        width: 100%;
      }
      article:nth-of-type(2) img {
        max-width: 479px;
        width: 100%;
      }
      article:nth-of-type(3) img {
        max-width: 400px;
        width: 100%;
      }
    }
    #price {
      .container {
        padding: 40px 0 0;
        table {
          height: 350px;
          th {
            padding-left: 10px;
            width: 210px;
            font-size: .8rem;
          }
          td {
            font-size: .8rem;
          }
        }
        p {
          font-size: .8rem;
        }
      }
    }
    #faq {
      .container {
        dl {
          dt {
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 1.2rem;
            padding: 10px 0;
          }
          dd {
            padding: 10px 15px;
          }
        }
      }
    }
    #blog {
      .container {
        .box {
          img {
            max-width: 389px;
            width: 100%;
          }
          .text {
            p {
              font-size: 1rem;
            }
            time {
              font-size: .8rem;
            }
          }
        }
      }
    }
    #works {
      .subtitle {
        p {
          margin-bottom: 40px;
        }
      }
      .swiper-container {
        overflow: hidden;
        max-width: calc(322 * 1.1px);
      }
    }
    #contact {
      .container {
        padding: 30px 10px 35px;
        form {
          dl {
            dt {
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  }
  footer {
    height: 160px;
    padding: 20px 0 28px;
    .container {
      h1 {
        a {
          font-size: 1.2rem;
        }
      }
      ul {
        margin-bottom: 20px;
        a {
          font-size: .8rem;
        }
      }
      small {
        font-size: 0.65rem;
      }
    }
  }
}